@import 'base';

// @rootSize:3.75vw;

@ratio: 3.75;
@mainColor: #fb7299;

// 头部是定位的
.header {
    position: fixed;
    left: 0;
    top: 0;
    // z-index: 10;
    width: 100%;
    height: (84vw / @ratio);
    background-color: rgb(255, 2, 2);

    .m-navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: (44vw / @ratio);
        padding: 0 (12vw / @ratio) 0 (18vw / @ratio);
        background-color: #fff;

        // left
        .left {
            .Navbar_logo {
                font-size: (28vw / @ratio);
                color: @mainColor;
            }
        }
    }
}